@font-face {
    font-family: 'fff_tusjbold';
    src: url('fff_tusj-webfont.woff2') format('woff2'),
         url('fff_tusj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}